<br>
<h1>Client Information</h1>

#user can make new appointment with this client from here
<br>
#user can view past appointments with client from here
<br>
#form should auto populate client Information

