<ul>
    <% current_user.appointments.each do |a|%>
      <li><%= link_to a.client.name, appointment_path(a) %> | <%= link_to a.date, appointment_path(a)%> | <%= link_to a.location.nickname, appointment_path(a)%> </li><br>
    <% end %>
</ul>
