<h1>Edit Session With <%= @appointment.client.name%></h1>

<%= render 'form' %>

 <p>
      <%= link_to "Delete", @appointment, method: :delete, data: { confirm: "Are you sure you want to delete this appointment?" } %>