<br>
<h1>Location Information For The Trainer</h1>

<br>

<body>
<p>This will show the trainer Information on this Location</p>
<p>The trainer will be able to book a new session for a client at this location</p>
<p>The trainer will be able to view a map and contact info for this location</p>
<p>The trainer will be able to view past appointments at this location</p>
</body>


<%=link_to "New Session at #{@location.nickname}", new_location_appointment_path(@location)%>
|
<%= link_to "Edit Location", edit_location_path(@location) %>